<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg">
        <p>Lugar para poner la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de Crédito</p>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="">Crea tu Cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis Compras</a></li>
        </ul>
    </header>

    <section class="banner">
        <img width="100%" src="/images/img-home-banner.jpg">
    </section>

    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img width=100% src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img width=100% src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img width=100% src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img width=100% src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img width=100% src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img width=100% src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img width=100% src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img width=100% src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>

</html>