<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="preload" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>
            <input class="input-navbar" type="search" name="busqueda" placeholder="Buscar...">
            <p class="lupa"><i class="fa-solid fa-magnifying-glass"></i></p>
            <h2 class="copy-header"> <i class="fa fa-solid fa-hand-holding-dollar"> </i>
                Comprá en cuotas y sin tarjeta de Crédito
            </h2>
        </div>
        <a href="#" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav-bar">
                <li><a href="/registro">Crea tu Cuenta</a> <i class="fa fa-solid fa-address-card"></i> </li>
                <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li><a href="#">Mis Compras</a> <i class=" fa fa-solid fa-basket-shopping"> </i> </li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <img width="100%" src="/images/img-home-banner.jpg">
    </section>

    <main>
        <section>
            <form class="formulario">
                <fieldset>
                    <legend class="legendA">Completa el siguiente formulario</legend>

                    <div class="contenedor-campos">
                        <div class="campo">
                            <label>Nombre y Apellido</label>
                            <input class="imput-text" type="text" name="usuario"
                                placeholder="escribe aqui tu nombre y apellido">
                        </div>

                        <div class="campo">
                            <label>Nombre de Usuario</label>
                            <input class="imput-text" type="text" name="usuario"
                                placeholder="escribe aqui tu nombre de usuari@">
                        </div>

                        <div class="campo">
                            <label>Correo Electronico</label>
                            <input class="imput-text" type="email" name="email"
                                placeholder="escribe aqui tu correo electronico">
                        </div>

                        <div class="campo">
                            <label>Fecha de Nacimiento</label>
                            <input class="imput-text" type="date" name="usuario">
                        </div>

                        <div class="campo">
                            <label>Domicilio</label>
                            <input class="imput-text" type="text" name="usuario"
                                placeholder="escribe aqui tu domicilio">
                        </div>
                    </div><!-- contenedor de los campos -->

                    <legend class="legendB">Perfil de Usuario</legend>

                    <div class="campo">
                        <input type="radio" name="perfilUsuario"> Comprador
                        <input type="radio" name="perfilUsuario"> Vendedor
                    </div>


                    <legend class="legendC">Intereses</legend>
                    <div class="intereses">
                        <div>
                            <input type="checkbox" name="perfilUsuario"> Electro
                        </div>
                        <div>
                            <input type="checkbox" name="perfilUsuario"> Moda
                        </div>
                        <div>
                            <input type="checkbox" name="perfilUsuario"> Hogar
                        </div>
                        <div>
                            <input type="checkbox" name="perfilUsuario"> Jugueteria
                        </div>
                        <div>
                            <input type="checkbox" name="perfilUsuario"> Vida Sana
                        </div>
                    </div>
                    <div class="boton-container">
                        <a class="boton" href="/">Enviar Formulario</a>
                    </div>
                </fieldset>

            </form>
        </section>
    </main>

    <section class="copyright">
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>

</body>

</html>