* { 
    box-sizing: border-box;
}

:root {
    --fuentePrincipal: 'Roboto',
    sans-serif;
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --negro: #000000;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 12px;
    background-color:#ebebeb;
    margin-top: 150px;
}

.main-header {
    background-color: var(--amarillo);
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
}

.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    width: 150px;
}

.logo:hover {
    cursor: pointer;
}

.input-navbar {
    width: 50%;
    height: 20px;
    position: relative;
    top: 10px;
}

.burger-button {
    background-color: var(--celeste);
    color: white;  
    display: block;
    max-width: 40px;
    padding: 10px 0; 
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
}

.copy-header {
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0; 
} 

.main-navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}

main {
    width: 90%;
    margin: 0 auto;
    background-color: #ebebeb;
}

h2 {
    font-size: 24px;
    color: var(--negro);
    text-align: left;
    font-weight: 900;
}

.img-articulo {
    text-align: center;
    background-color: #ebebeb;
    padding: 20px 10px 1px;
}

.articulos {
    background-color: white;
    padding: 0px 15px 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

.articulos:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px var(--grisOscuro);
}

.articulos:hover .descripcion {
    visibility: visible;
}

.cont-desc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid var(--grisClaro);
    padding-top: 20px;
}

.div-envio {
    display: flex;
    justify-content: flex-end;    
    position: relative;
    top: 18px;
    right: 20px;
}

.envio:hover {
    transform: rotate(-90deg);
    transition: 500ms;
}

.envio {    
    display: flex;
    justify-content: flex-end;    
    border: 2px solid var(--verde);
    border-radius: 50%;
    color: var(--verde);
    padding: 10px;    
}

.precio {
    font-size: 20px;
    font-weight: bold; 
}

.descuento {
    font-size: 16px;
    font-weight: bold;
    color: var(--verde);
    margin-left: 20px;
}

.descripcion {
    font-size: 16px;
    font-weight: bold;
    visibility: hidden;
}

footer {
    text-align: center;
    padding-top: 10px;    
}

.iconos-footer {
    font-size: 2em;
    color: var(--celeste);
}

.texto-footer {
    color: var(--grisOscuro);
}

.item {
    border: dotted 1px red;
    font-size: 60px;
}

.formulario {
    background-color: lightgray;
    border-radius: 15px;
    width: min(768px, 100%);
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    color: var(--celeste);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 10px;
    /* position: relative; */
}

.campo label {
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.error-login {
    color: red;
    position: relative;
    top: 5px;
    left: 520px;
}

.imput-text {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.legendB {
    padding-top: 10px;
}

.legendC {
    padding-top: 10px;
}

.intereses input {
    margin: 10px;
    margin-left: 0;
}

.boton-container {
    margin-top: 30px;     
    display: flex;
}

.boton {
    background-color: var(--celeste);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.boton:hover {
    cursor: pointer;
    background-color: var(--amarillo);
    color: var(--negro);
}

@media (min-width: 361px) {
    .nvar-header {
        display: none;
    }   
    .search-navbar {
        display: inline-block;
        align-items: center;
    }   
    .copyright {
        text-align: center;
    }
}

@media (min-width: 480px) {
    body {
        margin-top: 140px;
    }
    .main-header {
        height: 140px;
    }
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;        
    }
    .copy-header {
        display: inline-block;
        margin: 0 auto;
    }  
    .burger-button {
        margin-top: 10px;
    }    
    .copyright {
        text-align: center;
    }
}

@media (min-width: 768px) {
    body {
        margin-top: 125px;
    }
    .main-header {
        height: 125px;
    }
    .main-header-top-bar {        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input-navbar {
        position: relative;
        top: 0px;
        left: 10px;
    }
    .copy-header {
        max-width: 25%;
        text-align: right;           
    }
    .burger-button {
        display: none;
    }   
    .main-navbar {    
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 20px;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px ;
    }  
    .dos-imagenes {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }   
    .copyright {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 200px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .input-navbar {
        position: relative;
        top: 0px;
    }  
    .main-navbar li {
        margin: 10 5px;
    }
    .main-navbar a {
        font-size: 14px;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 16px;
        font-weight: 500;
    }
    .cuatro-imagenes {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }  
    footer {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin-left: 10px;
        margin-top: 20px;;
    } 
    .copyright {
        text-align: center;
    }
}


